name: Beta Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build Beta
    runs-on: macos-26

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Build
        run: |
          make

      - name: Update Beta Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          LATEST_OFFICIAL_TAG=$(git describe --tags --match "v*" --abbrev=0 2>/dev/null || echo "")

          echo "### New in this build (Compared to $LATEST_OFFICIAL_TAG):" >> release_notes.md
            
          CHANGES=$(git log --pretty=format:"* %s (%h)" ${LATEST_OFFICIAL_TAG}..HEAD)
            
          if [ -z "$CHANGES" ]; then
            echo "* No code changes since $LATEST_OFFICIAL_TAG" >> release_notes.md
          else
            echo "$CHANGES" >> release_notes.md
          fi
          
          echo "### SHA: ${{ github.sha }}" >> release_notes.md
          
          cat release_notes.md

          gh release delete beta --cleanup-tag -y || true
          
          COMMIT_MSG=$(git log -1 --pretty=%B)
          
          gh release create beta "packages/Ksign.ipa" \
            --title "Latest Beta Build" \
            --notes "Commit: $COMMIT_MSG\n\n$(cat release_notes.md)" \
            --prerelease \
            --target ${{ github.sha }}

      - name: Notify Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          
          REPO="${{ github.repository }}"
          TAG="beta-${{ github.run_number }}"
          FILENAME="Ksign.ipa"
          
          DOWNLOAD_URL="https://github.com/$REPO/releases/download/$TAG/$FILENAME"
          RELEASE_URL="https://github.com/$REPO/releases/tag/$TAG"
          
          echo "Sending link to Discord..."
          
          curl -v \
            -H "Content-Type: application/json" \
            -d "{\"content\": \"**New Beta Released!**\n\nChanges: \`$COMMIT_MSG\`\n\n[**Download IPA**]($DOWNLOAD_URL)\n[View Release]($RELEASE_URL)\"}" \
            "$DISCORD_WEBHOOK"